{% extends 'global/base.html' %}

{% block search %}
{% if user.is_authenticated %}
<div class="search">
    <form 
      action="{% url 'app:search-category' %}"
      method="GET"
    >
      <input 
        type="search" 
        class="search-input"
        placeholder="Search"
        id="search"
        name="q"
        value="{{ request.GET.q.strip }}"
      >
    </form>
</div>
{% endif %}
{% endblock search %}

{% block content %}
{% if user.is_authenticated %}
    {% if page_obj %}
    <div class="responsive-table">
        <div class="product-links">
            <a href="{% url 'app:register-category' %}" class="btn btn-link">
                Create Category
            </a>
        </div>
        <table class="products-table">
            <caption class="table-caption">
                Categories
            </caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Category Name</th>
                </tr>
            </thead>
            <tbody>
                {% for category in page_obj %}
                    <tr class="table-row">
                        <td class="table-cel">
                            {{ category.id }}
                        </td>
                        <td class="table-cel">
                            <a  class="table-link" 
                                href="{% url 'app:category-detail' category.category_name %}"
                            >
                                {{ category.category_name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="single-product">
        <h2 class="single-product-name">Categoria não encontrada.</h2>
    </div>
    {% endif %}
{% else %}
    <h1>Não há sessão iniciada, favor realizar Login ou criar Cadastro</h1>
{% endif %}
{% endblock content  %}
