
{% extends 'global/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if page_obj %}
    <div class="responsive-table">
        <div class="product-links">
            <a href="{% url 'app:register-category' %}" class="btn btn-link">
                Category Register
            </a>
            <a href="{% url 'app:register-supplier' %}" class="btn btn-link">
                Supplier Register
            </a>
        </div>
        <table class="products-table">
            <caption class="table-caption">
                Stock Products
            </caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Code</th>
                    <th class="table-header">Name</th>
                    <th class="table-header">Serial Number</th>
                    <th class="table-header">Quantity</th>
                    <th class="table-header">Category</th>
                    <th class="table-header">Supplier</th>
                </tr>
            </thead>
            <tbody>
                {% for product in page_obj %}
                    <tr class="table-row">
                        <td class="table-cel"><a class="table-link" href="{% url 'app:product-detail' product.code %}">
                                {{ product.code }}
                            </a>
                        </td>
                        <td class="table-cel">{{ product.name }}</td>
                        <td class="table-cel">{{ product.serial_number }}</td>
                        <td class="table-cel">{{ product.quantity }}</td>
                        <td class="table-cel">
                            <a class="table-link" href="{% url 'app:category-detail' product.category.category_name %}">
                                {{ product.category.category_name }}
                            </a>
                        </td>
                        <td class="table-cel">
                            <a class="table-link" href="{% url 'app:supplier-detail' product.supplier.supplier_name %}">
                                {{ product.supplier.supplier_name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="single-product">
        <h2 class="single-product-name">Produto não encontrado.</h2>
    </div>
    {% endif %}
{% else %}
    <h1>Não há sessão iniciada, favor realizar Login ou criar Cadastro</h1>
{% endif %}
{% endblock content  %}
