{% extends 'global/base.html' %}

{% block content %}
    <div class="single-product">
        <div class="product-links">
            <a href="{% url 'app:stock' %}" class="btn btn-link">
                Voltar
            </a>
        </div>
        <h2 class="single-product-name">Supplier Detail</h2>
        <p><b>Supplier Code:</b> {{ supplier.supplier_code }}</p>
        <p><b>Supplier Name:</b> {{ supplier.supplier_name }}</p>

        <div class="product-links">
            <a class="btn btn-link" href="{% url 'app:update-supplier' supplier.supplier_name %}">Update</a>
        </div>
    </div>
{% endblock content %}